 <%= render 'shared/aboutlink' %>
 
<div class = "container-lg">

<%= form_with model: @food do |f| %>

 <%= render 'shared/errors', model: f.object %>
 
 <div class="form-group">
  <%= f.label :フード画像 %>
  <%= f.file_field :food_image,accept:"image/*" %>
 </div>
 
 <div class="form-group">
  <%= f.label :フードの名前 %>
  <%= f.text_field :name %>
 </div>
 
 <div class="form-group">
  <%= f.label :genre_id,'ジャンル' %>
  <%= f.collection_select :genre_id, @genres, :id, :name, options = { include_blank: "選択してください" } %>
 </div>
 
 <div class="form-group">
  <%= f.label :type_id,'フードタイプ' %>
  <%= f.collection_select :type_id, @types, :id, :name, options = { include_blank: "選択してください" } %>
 </div>
 
 <div class="form-group">
  <%= f.label :メモ %>
  <%= f.text_area :memo %>
 </div>
 
 <%= f.submit '変更を保存する', class:"btn btn-info mb-3" %>
 <%= link_to "削除", food_path(@food.id), method: :delete, 
 "data-confirm" => "これまでのデータが全て削除されます。本当に削除しますか？",class:"btn btn-danger mb-3" %>

<% end %>

</div>
