 <%= render 'shared/aboutlink' %>
 
 <div class = "fixed_bottom text-right">
 <%= link_to new_food_path, class:"btn btn-warning my-3 mr-3" do %>
  <i class="fas fa-bone"></i>
  フードを追加する
  <i class="fas fa-chevron-right"></i>
 <% end %>
</div>

<div class = "container-lg">

<div class = "row">
 <% @foods.each do |food|%>
 <div class="d-flex align-items-end">
 <div class="mx-1 pl-3 pr-2 my-1">
  <%= link_to food_path(food.id) do %>
  <div>
   <%= image_tag food.get_food_image(150,200) %>
  </div>
   <div class = "text-center py-3"><span class = "sticky"><%= food.name %></span></div>
   <% end %>
  </div>
 </div>
 <% end %>
</div>

</div>
