<nav class="navbar navbar-expand-lg navbar-light">
 <div class="container">
  <a class="navbar-brand p-3" href="/"><%= image_tag('logo.png') %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
   <ul class="navbar-nav ml-auto">
    <% if end_user_signed_in? %>
     <li class="nav-item">
      <%= link_to "ウチの子",pet_index_path, class: 'nav-link text-dark' %>
     </li>
     <li class="nav-item">
      <%= link_to "記録",record_index_path, class: 'nav-link text-dark' %>
     </li>
     <li class="nav-item">
      <%= link_to "フード",food_index_path, class: 'nav-link text-dark' %>
     </li>
     <li class="nav-item">
      <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete, class: 'nav-link text-dark' %>
     </li>
    <% else %>
     <li class="nav-item">
      <%= link_to "ホーム",pet_index_path, class: 'nav-link text-dark' %>
     </li>
     <li class="nav-item">
      <%= link_to "ログイン",pet_index_path, class: 'nav-link text-dark' %>
     </li>
     <li class="nav-item">
      <%= link_to "新規登録",pet_index_path, class: 'nav-link text-dark' %>
     </li>
    <% end %>
   </ul>
  </div>
 </div>
</nav>

