 <%= render 'shared/aboutlink' %>
 <div class = "container-lg">
 <div class="table-responsive">

<div class="calendar">
<%= month_calendar events: @record_cale do |date, records| %>
  <%= date.day %>
  <% @record_cale.each do |record| %>
   <%if record.created_at.strftime('%Y-%m-%d') == date.strftime('%Y-%m-%d') %> 
    <div>
     <%= link_to record_path(record), class:"btn btn-sm btn-primary px-3 rounded-pill my-1" do %>
      <%= record.pet.name.slice(0)%>
     <% end %>
    </div>
   <% end %>
  <% end %>
  
<% end %>
</div>

</div>
<div class="fixed-bottom">
<%= link_to "記録一覧に戻る",record_index_path, class:"btn btn-sm btn-secondary" %>
<%= link_to "カレンダーに戻る",calendar_record_index_path, class:"btn btn-sm btn-secondary" %>

</div>
</div>








