 <%= render 'shared/aboutlink' %>

<div class = "container-lg">

<%= form_with model: @pet do |f| %>
 <%= render 'shared/errors', model: f.object %>

 <div class="form-group">
  <%= f.label :ウチの子の写真 %>
  <%= f.file_field :pet_image,accept:"image/*" %>
 </div>
 <div class="form-group">
  <%= f.label :名前 %>
  <%= f.text_field :name %>
 </div>
 <div class="form-group">
  <%= f.label :年齢 %>
  <%= f.select :age, *[0..30], prompt:"--" %>
 </div>
 <div class="form-group">
  <%= f.label :誕生日 %>
  <%= f.date_select :birthday, use_month_numbers: true, prompt:"--",
     start_year: 1990, end_year: (Time.now.year), default: Date.new(1989, 1, 1) %>

 </div>
 <div class="form-group">
	<%= f.label :性別 %>
  <%= f.radio_button :gender,"man" %>
  <%= f.label :gender, "オス" %>
  <%= f.radio_button :gender, "woman" %>
  <%= f.label :gender, "メス"%>
 </div>
 <div class="form-group">
  <%= f.label :メモ %>
  <%= f.text_area :memo %>
 </div>
	
  <%= f.submit '変更を保存する', class:"btn btn-info mb-3" %>
  <%= link_to '削除', pet_path(@pet.id), method: :delete, 
    "data-confirm" => "これまでの記録も全て削除されます。本当に削除しますか？", class:"btn btn-danger mb-3" %>
  
<% end %>

</div>