<!--<%# @pets.each do |pet| %>-->

<!--<div class ="border shadow pet_log my-3">-->

<!--<div class = "row">-->
 
<!-- <div class = "col-sm-6">-->
<!--  <div class = "my-3 mx-3">-->
<!--    <%#= image_tag pet.get_pet_image(200,200),class:"rounded-circle mx-3" %>-->
<!--    <div class = "row justify-content-center"> -->
<!--     <%#= link_to edit_pet_path(pet) do %>-->
<!--      <i class="fas fa-edit"></i>-->
<!--     <#%end %>-->
<!--    </div>-->
<!--  </div>-->
 
<!-- <table class="table">-->
<!--  <tr>-->
<!--   <th>名前</th>-->
<!--   <td><#%= pet.name %></td>-->
<!--  </trt>-->
<!--  <tr>-->
<!--   <th>年齢</th>-->
<!--   <td><#%= pet.age %>歳</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--   <th>誕生日</th>-->
<!--   <td class = "btd"><%= pet.birthday %>生まれ</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--   <th>性別</th>-->
<!--   <td><%= pet.gender_i18n %></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--   <th>メモ</th>-->
<!--   <td><%= pet.memo %></td>-->
<!--  </tr>-->
<!--  <tr><th></th><td></td></tr>-->
<!-- </table>-->
<!--</div>-->

<!--<div class = "col-sm-6">-->
<!-- <br><br>-->
<!-- <div class = "h4 py-3 text-center"><span class = "liner">-->
<!--  <i class="fas fa-paw"></i><%= pet.name %>ちゃんの記録<i class="fas fa-paw"></i>-->
<!--  </span></div>-->
<!-- <div class = "my-3"><%= pie_chart pet.foods.group(:name).count %></div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

<!--<% end %>-->

<!--<div class = "text-center">-->
<!-- <%= link_to "ウチの子一覧に戻る", pet_index_path, class:"btn btn-secondary my-3" %>-->
<!--</div>-->




